<div class="my-10 lg:mx-20 gap-5 flex flex-wrap justify-center">
  <%= render "shared/post_card/draft_palette" %>
  <%= render "shared/post_card/my_published_palette" %>
  <%= render "shared/post_card/published_palette" %>
</div>

