<!-- Googleログイン -->
  <%= button_to user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, form: { class: "w-full overflow-hidden shadow flex justify-center items-center text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" } do %>
    <div class="w-96 py-3 flex justify-center items-center gap-2">
      <%= image_tag "google_icon.svg", class:"size-5" %>
      <div>Googleでログイン</div>
    </div>
  <% end %>