<button type="button" class="w-full max-w-xs shadow py-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800">
  <%= image_tag "sns_login/google_icon", class:"size-5" %>
  Googleでログイン
</button> <%# Googleログイン %>

<button type="button" class="w-full max-w-xs shadow py-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 mt-2">
  <%= image_tag "sns_login/github_icon", class:"size-5" %> <%# githubアイコン %>
  GitHubでログイン
</button> <%# GitHubでログイン %>

<button type="button" class="w-full max-w-xs shadow py-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800 mt-2">
  <%= image_tag "sns_login/twitter_icon", class:"size-5 fill-current" %>
  X(旧Twitter)でログイン
</button> <%# X(旧Twitter)で登録 %>