<div class= "py-5 min-h-fit max-w-screen-xl text-gray-900 w-[90vw] mx-auto"> <%# フォーム画面の土台枠外span %>

  <div class="flex flex-col gap-5 items-center"> <%# フォームの大枠span・右半分と左半分で分けてるところ %>
    <div class="flex flex-col my-20 items-center justify-center"> <%# 上部分のプロフィールとステータス(画面サイズが小さい時だけ縦並び) %>

      <div class="flex flex-col justify-center items-center p-6 pb-0"> <%# 左側欄 %>
        <div class="size-32 overflow-hidden rounded-full">
          <%= image_tag "profile_#{@user.profile_icon}.svg", class:"size-full" %>
        </div>
      </div>

      <div class="p-6 flex flex-col items-center lg:items-start translate md:scale-110 xl:scale-125"> <%# 名前とステータス %>
        <div class="text-2xl font-extrabold mb-3 lg:ml-3"> <%# ユーザーネーム %>
          <%= @user.name %>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-10 my-5">
    <% if @published_posts.present?  %> <%# 公開済みパレット用 %>
      <div class="flex flex-col"> <%# 公開済みパレット %>
        <div class="text-xl font-extrabold ml-3 mb-6">公開パレット</div>
        <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-2 md:gap-4 place-content-center place-items-center">
          <% @published_posts.each do |post|  %>
            <%= render "shared/post_card/published_palette", post: post %>
          <% end %>
        </div>
      </div>

      <div class="flex items-center justify-center translate">
        <%== pagy_nav(@pagy) %>
      </div>

    <% else %>
      <div class="flex flex-col items-center justify-center w-full min-h-64">
        <div class="relative w-60">
          <div class="circle bg-[#fedd6b]"></div>
          <div class="circle bg-[#003f57]"></div>
          <div class="circle bg-[#ad0003]"></div>
          <div class="loading-shadow"></div>
          <div class="loading-shadow"></div>
          <div class="loading-shadow"></div>
          <div class="absolute text-sm top-[80px] left-[5%]">パレットが見つかりませんでした。</div>
        </div>
      </div>
    <% end %>
  </div>

</div>