<!-- ローディングアニメーション用モーダルパーシャル -->
<div x-cloak x-show="$store.loading.loadingModal" x-transition.opacity.duration.200ms class="fixed inset-0 z-[1000] flex justify-center bg-black/20 p-4 pb-8 backdrop-blur-md items-center" role="dialog" aria-loadingModal="true">
    <!-- loadingModal Dialog -->
    <div x-show="$store.loading.loadingModal" x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity" x-transition:enter-start="opacity-0 scale-50" x-transition:enter-end="opacity-100 scale-100" class="px-2 flex flex-col items-center justify-center overflow-hidden bg-transparent">
        <!-- 吹き出し表示欄 -->
        <div class="wrapper w-52 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <div class="circle bg-[#fedd6b]"></div>
            <div class="circle bg-[#003f57]"></div>
            <div class="circle bg-[#ad0003]"></div>
            <div class="loading-shadow"></div>
            <div class="loading-shadow"></div>
            <div class="loading-shadow"></div>
            <div class="loading-text">Loading</div>
        </div>

    </div>
</div>