<!-- プライバシーポリシーモーダル中身 -->
<div x-cloak x-show="privacyModalIsOpen" x-transition.opacity.duration.200ms x-trap.inert.noscroll="privacyModalIsOpen" x-on:keydown.esc.window="privacyModalIsOpen = false" x-on:click.self="privacyModalIsOpen = false" class="fixed inset-0 z-30 flex justify-center bg-black/20 p-4 pb-8 backdrop-blur-md items-center lg:p-8" role="dialog" aria-modal="true">
  <!-- Modal Dialog -->
  <div x-show="privacyModalIsOpen" x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity" x-transition:enter-start="opacity-0 translate-y-8" x-transition:enter-end="opacity-100 translate-y-0" class="flex max-w-lg flex-col gap-4 overflow-hidden rounded-2xl border border-neutral-300 bg-white text-neutral-600">
    <!-- Dialog Header -->
    <div class="flex items-center justify-between border-b border-neutral-300 bg-neutral-50/60 p-4">
      <%# モーダル表示時にリンク部分まで移動してしまうので、その対策のために偽装ボタン的に設置している。 %>
      <button type="button" class="pointer-events-none outline-none font-semibold tracking-wide text-neutral-900">プライバシーポリシー</button>
    </div>
    <!-- Dialog Body -->
    <div class="max-h-96 px-4 py-8 overflow-y-auto overscroll-y-contain">

      <!-- プライバシーポリシー本体 -->
      <div class="container p-8 mx-auto">
          <h3 class="text-2xl text-center font-bold text-gray-800">
              プライバシーポリシー
          </h3>
          <p class="text-center">
              (個人情報保護方針)
          </p>
          <p class="mt-1 text-xs text-gray-400 sm:mx-6 text-center sm:text-normal">制定日：2025年5月7日</p>
          <p class="mt-1 text-xs text-gray-400 sm:mx-6 text-center sm:text-normal">最終更新日：2025年5月8日</p>
          <!-- 概要セクション -->
          <div class="w-full px-6 py-6 mx-auto mt-10" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <p class="mt-2 text-base text-gray-600">
                  Coloratio（以下，「当社」といいます。）は，本ウェブサイト上で提供するサービス（以下，「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。
              </p>
          </div>
          <!-- 第1条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500  " data-primary="orange-500">第1条（ユーザーから取得する情報）</h3>
              <p class="mt-2 text-base text-gray-600">
                  当社は、お客様から以下の情報を取得します。<br>
                  <br>・氏名(ニックネームやペンネームも含む)
                  <br>・メールアドレス
                  <br>・外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報
                  <br>・Cookie(クッキー)を用いて生成された識別情報
                  <br>・OSが生成するID、端末の種類、端末識別子等のお客様が利用するOSや端末に関する情報
              </p>
          </div>
          <!-- 第2条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500  " data-primary="orange-500">第2条（個人情報の収集方法）</h3>
              <p class="mt-2 text-base text-gray-600">
                当社は，ユーザーが利用登録をする際にメールアドレスをお尋ねします。
              </p>
          </div>
          <!-- 第3条 -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500  " data-primary="orange-500">第3条（個人情報を収集・利用する目的）</h3>
              <p class="mt-2 text-base text-gray-600">
                当社が個人情報を収集・利用する目的は，以下のとおりです。<br>

                <br>・当社サービスの提供・運営のため
                <br>・ユーザーのパスワードリセットなどのためにメールを送付するため
                <br>・ユーザーに対して重大な変更やセキュリティに関する通知を行うため
                <br>・利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため
                <br>・ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため
                <br>・会員情報の管理のため
                <br>・広告の配信、表示及び効果測定のため
                <br>・上記の利用目的に付随する目的
              </p>
          </div>
          <!-- 第4条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500  " data-primary="orange-500">第4条（利用目的の変更）</h3>
              <p class="mt-2 text-base text-gray-600">
                当社は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。利用目的の変更を行った場合には，変更後の目的について，当社所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。
              </p>
          </div>
          <!-- 第5条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500  " data-primary="orange-500">第5条（個人情報の第三者提供）</h3>
              <p class="mt-2 text-base text-gray-600">
                当社は，法律的に必要がある事例を除き，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。
              </p>
          </div>
          <!-- 第6条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500  " data-primary="orange-500">第6条（個人情報の開示）</h3>
              <p class="mt-2 text-base text-gray-600">
                当社は，本人から個人情報の開示を求められたときは，本人に対し，遅滞なくこれを開示します。ただし，開示しない決定をした場合には，その旨を遅滞なく通知します。
              </p>
          </div>
          <!-- 第7条✔︎ -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500  " data-primary="orange-500">第7条（個人情報の訂正および削除）</h3>
              <p class="mt-2 text-base text-gray-600">
                ユーザーは，当社の保有する自己の個人情報が誤った情報である場合には，当社が定める手続きにより，個人情報の訂正，追加または削除を請求することができます。当社は，その請求に応じる必要があると判断した場合には，遅滞なく，当該個人情報の訂正等を行います。
              </p>
          </div>
          <!-- 第8条✔︎ -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500  " data-primary="orange-500">第8条（個人情報の利用停止等）</h3>
              <p class="mt-2 text-base text-gray-600">
                当社は，本人から，個人情報が，利用目的の範囲を超えて取り扱われているという理由，または不正な手段により取得されたものであるという理由により，その利用の停止または消去を求められた場合には，遅滞なく必要な調査を行います。
              </p>
          </div>
          <!-- 第9条✔︎ -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500  " data-primary="orange-500">第9条（プライバシーポリシーの変更）</h3>
              <p class="mt-2 text-base text-gray-600">
                本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。<br>
                変更後のプライバシーポリシーは，本ウェブサイトに掲載したときから効力を生じるものとします。
              </p>
          </div>
          <!-- 第10条✔︎ -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500  " data-primary="orange-500">第10条（アクセス解析ツールについて）</h3>
              <p class="mt-2 text-base text-gray-600">
                  当社は、Googleによるアクセス解析ツール「Googleアナリティクス」を使用しています。<br>
                  このGoogleアナリティクスはデータの収集のためにCookieを使用しています。このデータは匿名で収集されており、個人を特定するものではありません。<br>
                  この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。<br>
                  この規約に関しての詳細は
                  <a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank" class="underline hover:opacity-60">Googleアナリティクスサービス利用規約</a>
                  のページや
                  <a href="https://policies.google.com/technologies/ads?hl=ja" target="_blank" class="underline hover:opacity-60">Googleポリシーと規約ページ</a>
                  をご覧ください。
              </p>
          </div>
          <!-- 第11条✔︎ -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:shadow" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500" data-primary="orange-500">第11条（お問い合わせ窓口）</h3>
              <p class="mt-2 text-base text-gray-600">
                本ポリシーに関するお問い合わせは，
                <a href=" https://forms.gle/a2skK2aqTndxfarq8" target="_blank" class="underline hover:opacity-60">お問い合わせフォーム</a>
                までお願いいたします。
              </p>
          </div>
          <!-- 以上 -->
          <div class="w-full px-6 py-6 mx-auto rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <p class="text-base text-right text-gray-600">
                以上
              </p>
          </div>
      </div>

    </div>
    <!-- Dialog Footer -->
    <div class="flex justify-center gap-2 border-t border-neutral-300 bg-neutral-50/60 p-4">
        <button @click="privacyModalIsOpen = false" type="button" class="font-medium shadow-lg text-sm py-2 px-10 text-center rounded-3xl transition-all text-neutral-600 border-2 duration-300 ease-in-out flex items-center justify-center hover:scale-105 active:scale-95">閉じる</button>
    </div>
  </div>
</div>
