<!-- 利用規約モーダル中身 -->

<div x-cloak x-show="termsOfServiceModalIsOpen" x-transition.opacity.duration.200ms x-trap.inert.noscroll="termsOfServiceModalIsOpen" x-on:keydown.esc.window="termsOfServiceModalIsOpen = false" x-on:click.self="termsOfServiceModalIsOpen = false" class="fixed inset-0 z-30 flex justify-center bg-black/20 p-4 pb-8 backdrop-blur-md items-center lg:p-8">
  <!-- Modal Dialog -->
  <div x-show="termsOfServiceModalIsOpen" x-transition:enter="transition ease-out duration-200 delay-100 motion-reduce:transition-opacity" x-transition:enter-start="opacity-0 translate-y-8" x-transition:enter-end="opacity-100 translate-y-0" class="flex max-w-lg flex-col gap-4 overflow-hidden rounded-2xl border border-neutral-300 bg-white text-neutral-600 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300">
    <!-- Dialog Header -->
    <div class="flex items-center justify-between border-b border-neutral-300 bg-neutral-50/60 p-4 dark:border-neutral-700 dark:bg-neutral-950/20">
      <button type="button" id="defaultModalTitle" class="pointer-events-none outline-none font-semibold tracking-wide text-neutral-900 dark:text-white">利用規約</button>
    </div>
    <!-- Dialog Body -->
    <div class="max-h-96 px-4 py-8 overflow-y-auto overscroll-y-contain">

      <!-- 利用規約本体 -->
      <div class="container p-8 mx-auto">
          <h3 class="text-2xl text-center font-bold text-gray-800">
            利用規約
          </h3>
          <p class="mt-1 text-xs text-gray-400  text-center">制定日：2025年5月8日</p>
          <p class="mt-1 text-xs text-gray-400  text-center">最終更新日：2025年5月8日</p>
          <!-- 概要セクション -->
          <div class="w-full px-6 py-6 mx-auto mt-10" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <p class="mt-2 text-base text-gray-600">
                この利用規約（以下，「本規約」といいます。）は，Coloratio（以下，「当社」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
              </p>
          </div>
          <!-- 第1条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
            <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第1条（適用）</h3>

              <div class="mt-2 text-base text-gray-600">
                <ol class="list-decimal ml-6">
                  <li>本規約は，ユーザーと当社との間の本サービスの利用に関わる一切の関係に適用されるものとします。</li>
                  <li>当社は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。</li>
                  <li>本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</li>
                </ol>
              </div>

          </div>
          <!-- 第2条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第2条（利用登録）</h3>
              <div class="mt-2 text-base text-gray-600">
                <ol class="list-decimal ml-6">
                  <li>本サービスにおいては，登録希望者が本規約に同意の上，当社の定める方法によって利用登録を申請し，当社がこの承認を登録希望者に通知することによって，利用登録が完了するものとします。</li>
                  <li>当社は，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。</li>
                  <ul class="mt-2 list-decimal ml-4">
                    <li>利用登録の申請に際して虚偽の事項を届け出た場合</li>
                    <li>本規約に違反したことがある者からの申請である場合</li>
                    <li>その他，当社が利用登録を相当でないと判断した場合</li>
                  </ul>
                </ol>
              </div>
          </div>
          <!-- 第3条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第3条（ユーザーIDおよびパスワードの管理）</h3>
              <div class="mt-2 text-base text-gray-600">
                <ol class="list-decimal ml-6">
                  <li>ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。</li>
                  <li>ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。当社は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。</li>
                  <li>ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は，当社に故意又は重大な過失がある場合を除き，当社は一切の責任を負わないものとします。</li>
                </ol>
              </div>
          </div>
          <!-- 第4条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
            <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第4条（利用料金および支払方法）</h3>
            <div class="mt-2 text-base text-gray-600">
              <p>本サービスは無償で提供されます。将来的に有料部分を実装する場合、料金体系については別途通知いたします。</p>
            </div>
          </div>
          <!-- 第5条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
            <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第5条（禁止事項）</h3>
            <div class="mt-2 text-base text-gray-600">
              <p>ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</p>
              <ol class="list-decimal ml-6">
                <li>法令または公序良俗に違反する行為</li>
                <li>犯罪行為に関連する行為</li>
                <li>当社，本サービスの他のユーザー，または第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</li>
                <li>当社のサービスの運営を妨害するおそれのある行為</li>
                <li>不正アクセスをし，またはこれを試みる行為</li>
                <li>他のユーザーに成りすます行為</li>
                <li>当社，本サービスの他のユーザーまたは第三者の知的財産権，肖像権，プライバシー，名誉その他の権利または利益を侵害する行為</li>
                <li>以下の表現を含み，または含むと当社が判断する内容を本サービス上に投稿し，または送信する行為
                  <ol class="my-2 list-decimal ml-8">
                    <li>過度に暴力的な表現</li>
                    <li>露骨な性的表現</li>
                    <li>人種，国籍，信条，性別，社会的身分，門地等による差別につながる表現</li>
                    <li>自殺，自傷行為，薬物乱用を誘引または助長する表現</li>
                    <li>その他反社会的な内容を含み他人に不快感を与える表現</li>
                  </ol>
                </li>
                <li>本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</li>
                <li>その他，当社が不適切と判断する行為</li>
              </ol>
            </div>
          </div>
          <!-- 第6条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第6条（本サービスの提供の停止等）</h3>
              <div class="mt-2 text-base text-gray-600">
                <ol class="list-decimal ml-6">
                  <li>当社は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。</li>
                  <ol class="my-2 list-decimal ml-8">
                    <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
                    <li>個人的な理由によりサービスを維持できない場合</li>
                    <li>その他，当社が本サービスの提供が困難と判断した場合</li>
                  </ol>
                  <li>当社は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利益または損害についても，一切の責任を負わないものとします。</li>
                </ol>
              </div>
          </div>
          <!-- 第7条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第7条（著作権）</h3>
              <div class="mt-2 text-base text-gray-600">
                <ol class="list-decimal ml-6">
                  <li>ユーザーは，自ら著作権等の必要な知的財産権を有するか，または必要な権利者の許諾を得た文章，配色等の情報に関してのみ，本サービスを利用し，投稿ないしアップロードすることができるものとします。</li>
                  <li>ユーザーが本サービスを利用して投稿した配色については，当該ユーザーに留保されるものとします。ただし，当社は，本サービスを利用して投稿された配色について、本サービスの改良や周知宣伝等に必要な範囲で利用できるものとし，ユーザーは，この利用に関して，著作者人格権を行使しないものとします。</li>
                </ol>
              </div>
          </div>
          <!-- 第8条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第8条（利用制限および登録抹消）</h3>
              <div class="mt-2 text-base text-gray-600">
                <ol class="list-decimal ml-6">
                  <li>当社は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，投稿データを削除し，ユーザーに対して本サービスの全部もしくは一部の利用を制限しまたはユーザーとしての登録を抹消することができるものとします。</li>
                  <ol class="my-2 list-decimal ml-8">
                    <li>本規約のいずれかの条項に違反した場合</li>
                    <li>登録事項に虚偽の事実があることが判明した場合</li>
                    <li>その他，当社が本サービスの利用を適当でないと判断した場合</li>
                  </ol>
                  <li>当社は，本条に基づき当社が行った行為によりユーザーに生じた損害について，一切の責任を負いません。</li>
                </ol>
              </div>
          </div>
          <!-- 第9条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第9条（退会）</h3>
              <div class="mt-2 text-base text-gray-600">
                <p>ユーザーは，当社の定める退会手続により，本サービスから退会できるものとします。</p>
              </div>
          </div>
          <!-- 第10条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第10条（保証の否認および免責事項）</h3>
              <div class="mt-2 text-base text-gray-600">
                <ol class="list-decimal ml-6">
                  <li>当社は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</li>
                  <li>当社は，本サービスに起因してユーザーに生じたあらゆる損害について、当社の故意又は重過失による場合を除き、一切の責任を負いません。ただし，本サービスに関する当社とユーザーとの間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合，この免責規定は適用されません。</li>
                  <li>前項ただし書に定める場合であっても，当社は，当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害のうち特別な事情から生じた損害（当社またはユーザーが損害発生につき予見し，または予見し得た場合を含みます。）について一切の責任を負いません。また，当社の過失（重過失を除きます。）による債務不履行または不法行為によりユーザーに生じた損害の賠償は，ユーザーから当該損害が発生した月に受領した利用料の額を上限とします。</li>
                  <li>当社は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，連絡または紛争等について一切責任を負いません。</li>
                </ol>
              </div>
          </div>
          <!-- 第11条* -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第11条（サービス内容の変更等）</h3>
              <div class="mt-2 text-base text-gray-600">
                <p>当社は，ユーザーへの事前の告知なく，本サービスの内容を変更、追加または廃止することがあります。なお、これらの変更はユーザーの利便性を考慮して行われるものとします。</p>
              </div>
          </div>
          <!-- 第12条✔︎ -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第12条（利用規約の変更）</h3>
              <div class="mt-2 text-base text-gray-600">
                <ol class="list-decimal ml-6">
                  <li>当社は以下の場合には、ユーザーの個別の同意を要せず、本規約を変更することができるものとします。</li>
                  <ol class="my-2 list-decimal ml-8">
                    <li>本規約の変更がユーザーの一般の利益に適合するとき。</li>
                    <li>本規約の変更が本サービス利用契約の目的に反せず、かつ、変更の必要性、変更後の内容の相当性その他の変更に係る事情に照らして合理的なものであるとき。</li>
                  </ol>
                </ol>
              </div>
          </div>
          <!-- 第13条✔︎ -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第13条（個人情報の取扱い）</h3>
              <div class="mt-2 text-base text-gray-600">
                <p>当社は，本サービスの利用によって取得する個人情報については，当社「プライバシーポリシー」に従い適切に取り扱うものとします。</p>
              </div>
          </div>
          <!-- 第14条✔︎ -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第14条（通知または連絡）</h3>
              <div class="mt-2 text-base text-gray-600">
                <p>ユーザーと当社との間の通知または連絡は，当社の定める方法によって行うものとします。</p>
              </div>
          </div>
          <!-- 第15条✔︎ -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第15条（権利義務の譲渡の禁止）</h3>
              <div class="mt-2 text-base text-gray-600">
                <p>ユーザーは，当社の書面による事前の承諾なく，利用契約上の地位または本規約に基づく権利もしくは義務を第三者に譲渡し，または担保に供することはできません。</p>
              </div>
          </div>
          <!-- 第16条✔︎ -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg" data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <h3 class="text-lg font-bold text-orange-500 sm:text-xl md:text-2xl" data-primary="orange-500">第16条（準拠法・裁判管轄）</h3>
              <div class="mt-2 text-base text-gray-600">
                <ol class="list-decimal ml-6">
                  <li>本規約の解釈にあたっては，日本法を準拠法とします。</li>
                  <li>本サービスに関して紛争が生じた場合には，当社の本店所在地を管轄する裁判所を専属的合意管轄とします。</li>
                </ol>
              </div>
          </div>
          <!-- 以上 -->
          <div class="w-full px-6 py-6 mx-auto mt-10 bg-white rounded-lg   " data-rounded="rounded-lg" data-rounded-max="rounded-full">
              <p class="mt-2 text-base text-right text-gray-600">
                以上
              </p>
          </div>
      </div>

    </div>
    <!-- Dialog Footer -->
    <div class="flex justify-center gap-2 border-t border-neutral-300 bg-neutral-50/60 p-4 dark:border-neutral-700 dark:bg-neutral-950/20">
      <button @click="termsOfServiceModalIsOpen = false" type="button" class="font-medium shadow-lg text-sm py-2 px-10 text-center rounded-3xl transition-all text-neutral-600 border-2 duration-300 ease-in-out flex items-center justify-center hover:scale-105 active:scale-95">閉じる</button>
    </div>
  </div>
</div>


