<div id="backToTop" class="bg-[#f8f7f1] hover:!opacity-80 hover:scale-110 transition-all duration-500 ease-out active:scale-95 flex justify-center items-center border-2 border-slate-400 size-14 fixed right-[50px] bottom-[50px] opacity-0 z-[999] rounded-full duration-800 pointer-events-none">
  <svg class="size-8 mb-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9999 10.8284L7.0502 15.7782L5.63599 14.364L11.9999 8L18.3639 14.364L16.9497 15.7782L11.9999 10.8284Z"></path></svg>
</div>
