<div x-data class="transform h-full w-full flex flex-col justify-center items-center gap-4">

<!-- 作成作業所 -->

<% @sorted_colors = ["#b6e1f4", "#f19aac", "#6495ce", "#f6f9fb", "#fdbf01"] %>
<%= link_to "https://coloratio-app.com/share?url=https://www.coloratio-app.com/&text=配色数・比率、自由自在。%0a身近なものから作る、見つける、あなただけのカラーパレットアプリ。%0%23coloratio", target: '_blank' do %>
xでシェア
<% end %>
<!-- end デザイン確認枠 -->

</div>

<script>

</script>