<div class= "min-h-fit h-[50rem] text-gray-900 flex justify-center">
  <div class="m-10">
    <div class="my-24">開発用デザイン確認ページ</div>







<!-- デザイン確認枠 -->



<!-- end デザイン確認枠 -->








  </div>
</div>