<div x-data class="transform h-full w-full flex flex-col justify-center items-center gap-4">

<!-- 作成作業所 -->
<div class="animate-slide-top border-2 shadow-2xl size-72">

</div>
<!-- end デザイン確認枠 -->

</div>

<script>

</script>