<div x-data class="transform h-full w-full flex flex-col justify-center items-center gap-4">

<!-- 作成作業所 -->

<div class="grid grid-cols-2">

  <% @sorted_colors = ["#150c15", "#9a1117"] %>
  <div class="my-10">
    <div>2色</div>
    <%= render "shared/svg/ogp/ogp_logo_svg", colors: @sorted_colors %>
  </div>

  <% @sorted_colors = ["#150c15", "#9a1117", "#917c50"] %>
  <div class="my-10">
    <div>3色</div>
    <%= render "shared/svg/ogp/ogp_logo_svg", colors: @sorted_colors %>
  </div>

  <% @sorted_colors = ["#150c15", "#9a1117", "#917c50", "#bbe3f5"] %>
  <div class="my-10">
    <div>4色</div>
    <%= render "shared/svg/ogp/ogp_logo_svg", colors: @sorted_colors %>
  </div>
  <% @sorted_colors = ["#150c15", "#9a1117", "#917c50", "#bbe3f5", "#da6a38"] %>
  <div class="my-10">
    <div>5色</div>
    <%= render "shared/svg/ogp/ogp_logo_svg", colors: @sorted_colors %>
  </div>
</div>


<!-- end デザイン確認枠 -->

</div>

<script>

</script>