
<!-- デザイン時の仮置き用①。ルーティング設定してるけど、アプリ自体には使わないファイルなので、リリース時には削除するように。 -->
<div class= "min-h-fit h-[200rem] text-gray-900 flex justify-center">
  <div class="m-10">
    <div class="my-24">開発用デザイン確認ページ</div>


<!-- 作成作業所 -->

<button type="button" @click="$store.loading.loadingModal = true">aaaaa</button>


<!-- end デザイン確認枠 -->

  </div>
</div>

<script>

</script>
