<div class="flex items-center justify-center h-screen">
    <div class="border-2 relative border-gray-300 w-3/5 h-3/4 flex items-center justify-center">
      <span class="absolute top-[-35px] left-0">
        <%= render 'shared/back_button' %>
      </span>
      <p class="text-center text-gray-700">プライバシーポリシー</p>
    </div>
</div>