<div class="transform h-full w-full flex flex-col justify-center items-center gap-4">

  <%= image_tag "coloratio-logo.svg", class:"w-[16rem]" %>

  <%= image_tag 'internal_server_error.svg', class:"w-full max-w-[52rem]", id:"fukidashi" %>

  <%= link_to "トップページへ戻る", root_path, class: "text-gray-400 text-center text-orange-400 hover:text-orange-600 border-b border-orange-400" %>
  <span>
    ※お問い合わせは
    <%= link_to "こちら", "https://forms.gle/a2skK2aqTndxfarq8", class: "text-center text-blue-400 hover:text-blue-600 border-b border-blue-400", target: :_blank, rel: "noopener noreferrer" %>
  <span>

</div>