<div class="transform h-full w-full flex flex-col justify-center items-center gap-4">

  <%= image_tag "coloratio-logo.svg", class:"w-[16rem]" %>

  <%= image_tag 'not-found.svg', class:"w-full max-w-[52rem] animate-fuwafuwa" %>

  <%= link_to "トップページへ戻る", root_path, class: "text-gray-400 text-center text-orange-400 hover:text-orange-600 border-b border-orange-400" %>

</div>