<div class="my-16">
  <div class="text-3xl mb-10 ml-10 lg:ml-24">投稿一覧</div>
  <div class="flex flex-wrap justify-center gap-3 mx-5">
    <% @posts.each do |post|  %> <%# @postsはすでにpublishedのものだけ入ってる状態 %>
      <%# ログインしてる状態ならそれが自分の投稿かを確認、trueなら自投稿用のviewでパレット表示 %>
      <% if user_signed_in? && post.user_id == current_user.id %>
        <%= render "shared/post_card/my_published_palette", post: post %>
      <%# ログインしてない状態orログインしてるけど自分の投稿じゃなかった場合は、問答無用で他の人の投稿になるため一般表示用viewでパレット表示 %>
      <% else %>
        <%= render "shared/post_card/published_palette", post: post %>
      <% end %>
    <% end %>
  </div>
</div>