:root {
  --dark-gray: #eeeae4;
  --light-gray: #f9f9f9;
  --vert-light-gray: #d1d5db;
  --gray: #f9f9f9;
  --white: #111111;
  --red: #a55a43;
  --black: #ffffff;
}



// body {
//   padding: 80px 120px 1px 120px;
//   max-width: 1440px;
//   margin: auto;

//   @media screen and (max-width: 1024px) {
//     padding: 80px 60px 1px 60px;
//   }

//   @media screen and (max-width: 428px) {
//     padding: 80px 30px 1px 30px;
//   }

//   @media screen and (max-width: 360px) {
//     padding: 80px 20px 1px 20px;
//   }
// }



/* Drag and Drop area */
.top-block {
  display: flex;
  gap: 30px;

  .top-left-block {
    width: 28%;
    border: 1px dashed var(--light-gray);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-gray);
    padding: 30px;
    gap: 30px;

    p {
      color: var(--vert-light-gray);
      font-weight: 300;
    }

    .browse-btn {
      input {
        display: none;
      }

      label {
        padding: 9px 24px;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 4px;
        background-color: var(--dark-gray);
        color: var(--white);
        display: block;
        width: fit-content;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        border: 1px solid var(--dark-gray);

        &:hover {
          background-color: var(--light-gray);
          color: var(--white);
        }
      }
    }
  }

  .top-right-block {
    width: 72%;
    padding: 16px;
    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    display: grid;
    place-items: center;

    img {
      width: 100%;
      height: auto;
      cursor: crosshair;
      border-radius: 4px;
    }
  }
}

/* Color Palette */
.bottom-block {
  background-color: var(--gray);
  border-radius: 12px;
  border: 1px solid var(--gray);
  padding: 20px;

  .head {
    height: 44px;
    background-color: var(--light-gray);
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid var(--light-gray);
    gap: 4px;

    .dropdown {
      display: flex;
      position: relative;

      .dropdown-btn {
        display: flex;
        background-color: var(--dark-gray);
        border-radius: 4px;
        padding: 0 6px;
        margin-left: 6px;
        gap: 5px;
        cursor: pointer;
        position: relative;
        transition: all 300ms;

        &:hover {
          transform: rotate(6deg);
        }

        img {
          transition: all 300ms;
          filter: invert(1);
        }
      }

      .dropdown-menu {
        transition: all 300ms ease-in-out;
        opacity: 0;
        position: absolute;
        top: 32px;
        left: 112px;
        background: var(--light-gray);
        border-radius: 4px;
        border: 1px solid var(--white);
        z-index: 1;

        .option {
          padding: 4px 8px;
          transition: all 100ms;
          cursor: pointer;

          &:first-child {
            border-bottom: 1px solid var(--white);
          }

          &:hover {
            opacity: 0.4;
          }
        }
      }
    }

    .remove-btn {
      cursor: pointer;

      p {
        color: var(--red);
        font-size: 1rem;
        transition: all 300ms ease-in-out;

        &:hover {
          color: white;
        }
      }
    }
  }

  .colors {
    display: grid;
    grid-template-columns: repeat(auto-fit, 134px);
    gap: 18px;
    justify-items: center;
    padding: 20px;
    justify-content: space-around;

    .color {
      background-color: var(--light-gray);
      border-radius: 12px;
      padding: 0 10px 10px 10px;
      width: 100%;

      .color-top {
        position: relative;
        display: flex;
        justify-content: flex-end;
        top: -3px;
        left: 14px;

        img {
          transition: all 300ms ease-in-out;
          opacity: 0;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }

        &:hover {
          img {
            opacity: 1;
          }
        }
      }

      .color-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;

        .preview {
          width: 100px;
          height: 100px;
          border-radius: 4px;
        }

        .code {
          display: flex;
          gap: 6px;

          p {
            // コードのスタイルを追加
          }

          img {
            cursor: pointer;
            transition: all 300ms ease-in-out;
            filter: invert(1);

            &:hover {
              transform: scale(0.8);
            }
          }
        }
      }
    }
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  gap: 2px;

  p {
    a {
      color: var(--white);
    }
  }
}

/* Eye Dropper */
#canvas {
  display: none;
}

#magnifier-glass-container {
  position: absolute;
  border-radius: 50%;
  cursor: none;
  border: 8px solid black;
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  display: none;
  margin: 30px;
}

#magnifier-glass {
  width: 100%;
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1px 0 0 1px;
  overflow: hidden;

  div {
    background: transparent;
    border-radius: 50%;
    border: 1px solid white;
    width: 14px;
    height: 14px;
  }
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  body {
    padding: 80px 60px 1px 60px;
  }

  .top-block {
    flex-direction: column;

    .top-left-block,
    .top-right-block {
      width: 100%;
    }
  }

  footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 428px) {
  body {
    padding: 80px 30px 1px 30px;
  }

  footer p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 360px) {
  body {
    padding: 80px 20px 1px 20px;
  }
}
