@use 'range_slider';
@use 'maintenance';


.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}


.shadow-bottom {
  box-shadow: inset 0px -30px 30px -20px rgba(0, 0, 0, 0.3);
}

.picker-cursor {
  cursor: url('images/picker.svg'), auto;
}
