@use 'range_slider';
@use 'tagify';
@use 'maintenance';
@use 'loading';
@use 'practice';
// フォント指定
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none; // スクロールバーを非表示にする
  overflow-x: hidden; // 横軸のスクロールを不可に(レスポンシブ対応必須)
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.shadow-bottom {
  box-shadow: inset 0px -30px 30px -20px rgba(0, 0, 0, 0.3);
}
