<div class="flex flex-col">
  <div class="flex items-end gap-1"> <%# 「配色の比率設定」見出し用 %>
    <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 size-8" viewBox="0 0 24 24" fill="currentColor"><path d="M11 2V22H13V2H11ZM2 6C2 4.89543 2.89543 4 4 4H7C8.10457 4 9 4.89543 9 6V18C9 19.1046 8.10457 20 7 20H4C2.89543 20 2 19.1046 2 18V6ZM20 6V18H17V6H20ZM17 4C15.8954 4 15 4.89543 15 6V18C15 19.1046 15.8954 20 17 20H20C21.1046 20 22 19.1046 22 18V6C22 4.89543 21.1046 4 20 4H17Z"></path></svg>
    <div class="text-xl font-bold">配色の比率設定</div>
  </div>
  <div class="w-[28rem] h-40 px-1 py-2 mt-1 bg-white flex justify-center items-center overflow-hidden shadow-xl rounded-xl bg-blue-gray-500 border-2">
    <div id="ratio-slider" class="w-[24rem]"></div>
  </div>
</div>