<%= turbo_stream.replace 'dynamic-share-button' do %>
  <div id="dynamic-share-button">
    <% share_url = "https://coloratio-app.com/posts/#{@upload_post.id}?r=#{SecureRandom.hex(5)}" %>
    <%= link_to "https://twitter.com/intent/tweet?url=#{share_url}&text=「#{@upload_post.title}」を#{@upload_post.color_count}色で表現✨%0a%0a配色数も比率も自由自在。私だけのカラーパレット%20%23Coloratio%0a", target: '_blank', title: "Xでシェアする" do %>
      シェアする
    <% end %>
  </div>
<% end %>
