<%= turbo_stream.update 'dynamic-share-button' do %>
  <%= link_to "https://twitter.com/intent/tweet?url=https://coloratio-app.com/posts/#{@upload_post.id}?r=#{Time.now.to_i}&text=ï¼%0aã€Œ#{@upload_post.title}ã€ã‚’#{@upload_post.color_count}è‰²ã§è¡¨ç¾âœ¨âœ¨%0aï¼¼%0a%0aé…è‰²æ•°ã‚‚æ¯”çŽ‡ã‚‚è‡ªç”±è‡ªåœ¨!!%0a%23Coloratio ã§ã€ç§ã ã‘ã®ã‚«ãƒ©ãƒ¼ãƒ‘ãƒ¬ãƒƒãƒˆðŸŽ¨%0a%0a", target: '_blank', title: "Xã§ã‚·ã‚§ã‚¢ã™ã‚‹", id:"share-trigger" do %>
  <% end %>
<% end %>

<%= turbo_stream.update 'loading-reset' do %>
  <div x-init="shareLoading = false"></div>
<% end %>