<nav class="relative bg-white shadow dark:bg-gray-800">
  <div class="container px-6 py-4 mx-auto flex justify-between ">
    <div class="flex items-center justify-between"> <%# ロゴボタン %>
        <%= link_to "Coloratio", root_path, class: "text-2xl" %>
    </div>
    <div class="flex flex-row"> <%# ログイン・新規登録ボタン %>

      <%= link_to "#", class: "group relative mr-4 inline-block text-sm font-medium text-black focus:ring-3 focus:outline-hidden" do %>
        <span class="absolute inset-0 border border-current"></span>
        <span
          class="block border border-current bg-white px-6 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1">
          ログイン
        </span>
      <% end %>

      <%= link_to "#", class: "group relative inline-block text-sm font-medium text-black focus:ring-3 focus:outline-hidden" do %>
        <span class="absolute inset-0 border border-black"></span>
        <span
          class="block border rounded-sm border-black bg-amber-200 px-6 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1">
          新規登録
        </span>
      <% end %>
    </div>
  </div>
</nav>